@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&family=Playfair+Display:ital,wght@1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

.background {
  background-image: url('https://i.imgur.com/b0curku.jpg'); /* Background image */
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center;
  position: relative;
}

.content {
  text-align: center;
  z-index: 1;
}

.logo {
  height: 220px; /* Maintain the same vertical height */
  width: auto; /* Adjust the width proportionally based on the height */
  margin-bottom: 30px;
}

.animated-text {
  font-size: 22px; /* Increased by 20% (from 19.2px) */
  color: #ffffff;
}

.brand-experience {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 50px; /* Increased by 20% (from 43.75px) */
  transition: color 0.2s ease; /* Smooth color change */
}

/* Footer content including email and social icons */
.footer-content {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing to lower the email and icons */
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.footer-content a {
  color: white;
  text-decoration: none; /* Remove default hyperlink styles */
}

.social-icons {
  margin-top: 10px;
}

.icon {
  width: 24px; /* Adjust icon size */
  height: 24px;
  margin: 0 10px;
}

/* Copyright styling */
.copyright {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.copyright p {
  font-size: 12px;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
}